@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<!--If Model is not null then read data from Model class-->

@if (Model != null)
{

	@if (Model.ShowRequestId)
	{
		<p>
			<strong>Request ID:</strong> <code>@Model.RequestId</code>
		</p>
	}

	<h2>The Exception is thrown while processing the request</h2>

	<div class="container">
		<strong>
			Error in Controller @Model.ControllerName
		</strong>
		<hr />
		<strong>
			Error in Action @Model.ActionName
		</strong>
		<hr />
		<strong>
			Error Details are @Model.Exception.Message
		</strong>
	</div>

	<a asp-controller="@Model.ControllerName" asp-action="@Model.ActionName">Go Back</a>

}
else
{

	<h2>The Exception is thrown while processing the request</h2>

	<div class="container">
		<strong>
			Error in Controller @ViewData["ControllerName"]
		</strong>
		<hr />
		<strong>
			Error in Action @ViewData["ActionName"]
		</strong>
		<hr />
		<strong>
			Error Details are @ViewData["Message"]
		</strong>
	</div>

	<a asp-controller="@ViewData["ControllerName"]" asp-action="@ViewData["ActionName"]">Go Back</a>
}